@charset "utf-8";

/* layout */
.rnWrap{position:relative;min-height:100%;background-color:#ffffff}
/*.rnWrap #back{top:130px;z-index: 10;}*/
.rnWrap #back{top:122px;z-index: 10;}

/* top */
.rnTopWrap{position:relative;z-index:5;z-index:15}
.rnTopArea{position:absolute;top:0;left:0;right:0;height:85px;padding:0 15px 0;background-color:#e71b27;z-index:5}
.rnTopLogo{padding:0;text-align:center}
.rnTopLogo a{display:inline-block;height:46.5px;vertical-align:top}
.rnTopLogo img{width:auto;height:100%}
.rnTopMenu,
.rnTopCart,
.rnTopMypage{display:block;overflow:hidden;height:46.5px;line-height:0;color:transparent;font-size:0}
.rnTopMenu,
.rnTopRight{position:absolute;top:0}
.rnTopMenu{left:15px;width:16px;height:46.5px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_top_menu_160520.png) center 0 no-repeat;background-size:100%;}
.rnTopRight{overflow:hidden;right:15px}
.rnTopCart{float:left;width:20px;margin-right:12.5px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_top_cart_160520.png) 0 center no-repeat;background-size:100%}
.rnTopMypage{float:left;width:24px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_top_my_160520.png) 0 center no-repeat;background-size:100%}
.rnTopSrch{position:relative;padding:0 29.5px 0 5px;background-color:#ffffff}
.rnTopSrchInp{display:block;width:100%;height:29.5px;line-height:24px;border:none;background:transparent;outline:none}
.rnTopSrchBtn{display:block;overflow:hidden;position:absolute;top:0;right:0;width:29.5px;height:29.5px;border:none;background:#e8e8e8 url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_top_srch_160425.png) center center no-repeat;background-size:16.5px;color:transparent;font-size:0}
/*.rnTopGnb{display:table;table-layout:fixed;position:absolute;top:75px;left:0;right:0;width:100%;height:55px;border-bottom:1px solid #acacac;background-color:#ffffff;z-index:4}
.rnTopGnb > *{display:table-cell;width:25% !important;line-height:15px;padding:34px 0 2px;border-bottom:3px solid rgba(255,255,255,0);color:#333333 !important;font-size:0.875rem;text-align:center}
.rnTopGnb > *.on{border-color:#d82527;color:#d82527 !important}
.rnTopWrap.on .rnTopGnb{position:fixed;top:0}
.rnTopHome{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_home.png) center 7px no-repeat !important;background-size:23px auto !important}
.rnTopHome.on{background-position:center -67px !important}
.rnTopEvent{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_event.png) center 5px no-repeat !important;background-size:26px auto !important}
.rnTopEvent.on{background-position:center -70px !important}
.rnTopSale{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_sale.png) center 6px no-repeat !important;background-size:18px auto !important}
.rnTopSale.on{background-position:center -65px !important}
.rnTopBrand{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_brand.png) center 8px no-repeat !important;background-size:24px auto !important}
.rnTopBrand.on{background-position:center -67px !important}
.rnTopBest{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_best.png) center 7px no-repeat !important;background-size:23px auto !important}
.rnTopBest.on{background-position:center -67px !important}*/
.rnTopWrap.on .rnTopGnb{position:fixed;top:0;z-index:100;}
.rnTopWrap .rnTopGnb{position:absolute;top:85px;left:0;right:0;width:100%;display:table;border-bottom:1px solid #bbcad0;background:#fff;}
.rnTopWrap .rnTopGnb a{display:table-cell;width:20%;height:36px;}
.rnTopWrap .rnTopGnb a{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_01_160429.png) center 0 no-repeat;background-size:64px 72px;text-indent:-9999px;}
.rnTopWrap .rnTopGnb a.rnTopHome{ background-position:center 0;}
.rnTopWrap .rnTopGnb a.rnTopEvent{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_02_160429.png) center 0 no-repeat;background-size:64px 72px;}
.rnTopWrap .rnTopGnb a.rnTopBest{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_03_160429.png) center 0 no-repeat;background-size:64px 72px;}
.rnTopWrap .rnTopGnb a.rnTopSale{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_04_160429.png) center 0 no-repeat;background-size:64px 72px;}
.rnTopWrap .rnTopGnb a.rnTopBrand{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_gnb_05_160429.png) center 0 no-repeat;background-size:64px 72px;}
.rnTopWrap .rnTopGnb a.on{background-position:center -36px;}

/* aside */
.rnAllMenu,
.rnMypage{position:fixed;top:0;bottom:0;width:100%;height:100% !important;background:#ffffff !important;z-index:100;
transition:all 0.5s ease;
-webkit-transition:all 0.5s ease;
}
.rnAllMenu{left:0;
transform:translate(-100%);
-webkit-transform:translate(-100%);
}
.rnMypage{right:0;
transform:translate(100%);
-webkit-transform:translate(100%);
}
.rnAllMenu.on,
.rnMypage.on{
transform:translate(0);
-webkit-transform:translate(0);
}
.rnAllMenu{width:95%}
.rnAsideTit{height:44px;line-height:44px;padding:0 44px 0 20px;border-bottom:1px solid #acabac;background-color:#ffffff;color:#000000;font-size:0.813rem;font-weight:bold}
.rnAsideBtn{display:block;position:absolute;top:6px;right:20px;line-height:20px;padding:0 8px;background-color:#888888;color:#ffffff !important;font-size:0.625rem}
.rnAsideBtn.type02{background-color:#3693f7}
.rnAsideTop{position:absolute;top:0;right:0}
.rnAsideTop > *{float:left;height:44px;color:transparent;font-size:0}
.rnAsidePush{width:28px;margin-right:5px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_aside_push.png) center top no-repeat;background-size:28px auto}
.rnAsidePush.on{background-position:center -44px}
.rnAsideLogout{width:31px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_aside_logout.png) center center no-repeat;background-size:22px}
.rnAsideClose{width:40px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_aside_close.png) 5px center no-repeat;background-size:15px}
.rnAsideTit02{position:relative;line-height:33px;padding-left:20px;border-top:1px solid #acabac;border-bottom:1px solid #acabac;background-color:#f2f3f3;color:#000000}
.rnAsidePrice{color:#d82527;font-size:0.875rem;font-weight:bold}
.rnAsideIcon{overflow:hidden;border-bottom:1px solid #acabac}
.rnAsideIcon > li{float:left;width:25%}
.rnMySlideWrap{position:relative;height:221px;}
.rnMySlide{position:absolute !important;top:0;left:0;right:0;width:100%;padding:0;background-color:#ffffff;z-index:1}
.rnMySlide.on{position:relative !important;z-index:5}
.rnMySlide .swipeCont{width:50%}
.rnMySlideBn{text-align:center}
.rnMySlideBn img{height:110px;width:auto}
.rnAsideGrade{color:#3693f7;font-size:0.875rem;font-weight:bold}
.rnMyTicket{position:relative;padding:5px 0 5px;/* background-color:#d1d1d1 20160329*/}
/* .rnMyTkCon,
.rnMyTkBtm{width:317px;margin:0 auto} 티켓 이미지가 저해상도에서 한쪽으로 치우치는 현상 해결 */
.rnMyTkCon,
.rnMyTkBtm{width:307px;margin:0 auto} /*20160329 317->307로 수정*/
.rnMyTkCon{min-height:65px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_bg_ticket.png) left top no-repeat;background-size:100% auto}
.rnMyTkBtm{height:32px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_bg_ticket_btm.png) left top no-repeat;background-size:100% auto}
.rnMyTkLst{overflow:hidden;padding-top:20px}
.rnMyTkLst > li{position:relative;line-height:1.5;margin-top:3px;padding-left:35%/*118px*/;color:#000000;font-size:0.625rem; min-height:20px; /*20160330 최소 높이값 구현 추가*/}
.rnMyTkLst > li:first-child{margin-top:0}
.rnMyTkTit{position:absolute;top:0;left:22px}
.rnMyTkTxt strong{color:#d82527;font-weight:bold}
.rnMyTkTxt span{color:#666666}
/* 20160330 출국정보 미등록시 나오는 텍스트 박스 위치 지정 start */
.pos_rel{position:relative;}
.rnMyTkTxt.ac {position:absolute; top: 44%; left: 38%;} 
.rnMyTkTxt.al{position:absolute; line-height: 194%; }
/* 20160330 출국정보 미등록시 나오는 텍스트 박스 위치 지정 end */

.rnMyTkNone{margin:0 5px;padding:20px;background-color:#ffffff;
border-radius:5px;
-webkit-border-radius:5px;
box-shadow:2px 2px 3px rgba(0,0,0,0.2);
-webkit-box-shadow:2px 2px 3px rgba(0,0,0,0.2);
}
.rnMyTkNcon{position:relative;line-height:1.5;max-width:210px;min-height:30px;margin:0 auto;padding:3px 10px 0 30px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_plane.png) no-repeat left top;background-size:26px 33px;font-size:0.625rem}
.rnMyTkGo{display:block;position:absolute;top:2px;right:0;width:30px;height:30px;line-height:30px;background-color:#3693f7;color:#ffffff !important;font-size:0.813rem;font-weight:bold;text-align:center;
border-radius:50%;
-webkit-border-radius:50%;
}
.rnMypage .reco_relation-list{height:300px}


.rnPassportLst {border-bottom:1px solid #acacac}
.rnPassportLst > li{position:relative;line-height:1.5;padding:9px 20px 9px 70px;border-top:1px solid #e3e2e2;font-size:0.625rem}
.rnPassportLst > li:first-child{border-top:none}
.rnPsTit{position:absolute;top:9px;left:20px}
.rnPsTxt{min-height:15px;color:#000000}
.rnMyBn{margin-top:14px}
.rnMyBn img{width:100%;height:auto}

.rnMenuBn{overflow:hidden;padding:8px 8px 20px}
.rnMenuBn > li{float:left;width:50%}
.rnMenuBn a{display:block;margin:5px}
.rnMenuBn img{width:100%;height:auto}
.rnMySlide .rnHmLst01 > li,
.rnMySlide .rnHmLst01 .rnHmlBtn01{border:none !important}
.rnMySlide .rnHmlBtn01{padding:30px 25px 10px}
.rnMySlide01 .swiperNavPrv,.rnMySlide01 .swiperNavNxt{z-index:10}


.rnHmLst01:after{content:'';display:block;visibility:hidden;width:0;height:0;clear:both}
.rnHmLst01 > li{float:left;width:50%;}
.rnHmLst01 > li:nth-child(2n+1) .rnHmlBtn01{border-right:1px solid #d2d0d0}
.rnHmLst01 > li:nth-child(2n+1) img{/*margin-bottom:6px*/margin-bottom:10px}
.rnHmLst01 > li:nth-child(1) .rnHmlBtn01,.rnHmLst01 > li:nth-child(2) .rnHmlBtn01{border-top:none}
.rnHmlBtn01{display:block;position:relative;/*padding:30px 12px 10px;*/padding:16px 16.5px 6px;border-top:1px solid #d2d0d0;text-align:center}
.rnHmlTop01{overflow:hidden;position:absolute;top:0;left:0}
.rnHmlTop01 > *{float:left;width:23px;height:23px}
.rnHmlNum01{line-height:23px;background-color:#f7a4a5;color:#ffffff;font-size:0.688rem;font-weight:bold;text-align:center}
.rnHmlSale01,.rnHmlBest01{overflow:hidden;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_home_list_icon.png) left top no-repeat;background-size:23px auto;color:transparent;font-size:0}
.rnHmlBest01{background-position:left -23px}
/*.rnHmLst01 img{display:inline-block;width:100%;height:auto;margin-bottom:5px}*/
.rnHmLst01 img{display:inline-block;width:100%;height:auto;margin-bottom:10px}
/*.rnHmlCpn01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:13px;margin-bottom:2px;font-size:0.688rem}*/
.rnHmlCpn01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:15px;font-size:10px;color:#888;font-family: 'Nanum Gothic';}
/*.rnHmlTit01{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;height:14px;margin-bottom:5px;color:#000000;font-size:0.750rem}*/
.rnHmlTit01{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-wrap:break-word;height:28px;margin-bottom:4px;color:#000000;font-size:12px;font-family: 'Nanum Gothic';}
.rnHmlPrice01{color:#d82527}
/*.rnHmlUsd01{display:block;height:19px;font-size:1rem;font-weight:bold}*/
.rnHmlUsd01{display:block;height:19px;font-size:15px;font-weight:bold;font-family:roboto;}
.rnHmlKrw01{display:block;height:12px;font-size:0.625rem}


/* container */
/*.rnContainer{overflow-x:hidden;padding:131px 0 0}*/
.rnContainer{overflow-x:hidden;padding:122px 0 0}


/* footer */
.rnFooter{background-color:#fff;border-top:1px solid #acacac;}
/*.rnFootSlide{padding-bottom:5px;border-top:1px solid #acacac;}
.rnFootSlide .swipeCont{width:25%}
.rnFootSlideBn{display:block;line-height:1.0;padding:28px 0 10px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_icon.png) center top no-repeat;background-size:18px auto;font-size:0.625rem;text-align:center;letter-spacing:-1px}
.rnFootSlide .swipeNavWrap{bottom:5px}
.rnFootIcon01{background-position:center 1px}
.rnFootIcon02{background-position:center -72px}
.rnFootIcon03{background-position:center -141px}
.rnFootIcon04{background-position:center -212px}
.rnFootIcon05{background-position:center -284px}
.rnFootIcon06{background-position:center -355px}
.rnFootIcon07{background-position:center -425px}
.rnFootIcon08{background-position:center -496px}
.rnFootIcon09{background-position:center -567px}
.rnFootIcon10{background-position:center -637px}*/
/*.rnNotice{position:relative;padding:0 40px 0 80px;line-height:34px;border-top:1px solid #d2d0d0}
.rnNoticeTit{position:absolute;top:0;left:18px;color:#999999}
.rnNoticeTit:after{content:':';display:inline-block;margin-left:8px;font-weight:bold;vertical-align:top}
.rnNoticeLst a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.rnNoticeMore{display:block;position:absolute;top:10px;right:18px;width:10px;height:10px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_btn_more.png) left top no-repeat;background-size:100%;color:transparent;font-size:0}*/
.rnNotice{position:relative;padding:0 40px 0 42px;line-height:28.5px;border-top:1px solid #d2d0d0}
.rnNoticeTit{position:absolute;top:0;left:15px;color:#9f9f9f;font-family: 'Nanum Gothic';font-size:12px;}
.rnNoticeLst a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family: 'Nanum Gothic';font-size:12px;color:#57585c;}
.rnNoticeMore{display:block;position:absolute;top:8px;right:15px;width:10px;height:10px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_btn_more.png) left top no-repeat;background-size:100%;color:transparent;font-size:0}

.rnFootBtn{display:table;width:100%;border-top:1px solid #d2d0d0;}
.rnFootBtn a, 
.rnFootBtn span.cell{display:table-cell;position:relative;height:32px;line-height:32px;text-align:center}
.rnFootBtn a.logSt{width:19%}
.rnFootBtn a.spguide{width:26%}
.rnFootBtn a.cscenter{width:21%}
.rnFootBtn span.cell{width:34%;}
.rnFootBtn span.cell strong.rnAsidePrice{color:#e61a27;font-size:0.688rem;display:inline-block;margin-right:2px;}
.rnFootBtn > *:before{content:'|';display:block;position:absolute;top:0;left:0;color:#a0a0a0}
.rnFootBtn > *:first-child:before{display:none}
/*.rnFootBtn{display:table;width:100%;border-top:1px solid #d2d0d0;}
.rnFootBtn > *{display:table-cell;position:relative;width:33%;height:32px;line-height:32px;text-align:center}
.rnFootBtn > *:before{content:'|';display:block;position:absolute;top:0;left:0;color:#a0a0a0}
.rnFootBtn > *:first-child{width:34%}
.rnFootBtn > *:first-child:before{display:none}*/

.rnFootInfo{position:relative;line-height:1.5;padding:14px 75px 20px 14px;border-top:1px solid #d2d0d0}
.rnFootInfoTit{margin-bottom:5px;color:#333333}
.rnFootInfoTxt{letter-spacing:-1px}
.rnFootCopy{margin-bottom:5px}
.rnFootInfo01{color:#333333 !important;}
.rnFootInfo02{color:#d82527 !important;}
/*.rnFootIsms{display:block;position:absolute;top:15px;right:10px;padding-top:58px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_isms.png) center top no-repeat;background-size:56px;color:#333333;font-size:0.625rem;letter-spacing:-1px}*/
.rnFootIsms{clear:both;display:inline-block;height:43px;margin-top:10px;padding:13px 0 0 62px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_isms.png) 0 0 no-repeat;background-size:56px;color:#333333;letter-spacing:-1px}

/* common */
.rnCommTit{position:relative;line-height:34px;border-bottom:1px solid #acabac;color:#333333;font-size:0.688rem;text-align:center}
.rnCommBack{display:block;overflow:hidden;position:absolute;top:0;left:0;width:48px;height:34px;border:none;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_common_back.png) center center no-repeat;background-size:6px 10px;color:transparent;font-size:0;cursor:pointer}
.rnBtnTop{display:block;opacity:0;position:fixed;bottom:100px;right:5px;width:40px;height:40px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_top_160425.png) left top no-repeat;background-size:100%;color:transparent;font-size:0;z-index:-1;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
}
.rnBtnApp{display:block;opacity:0;position:fixed;bottom:55px;right:5px;width:40px;height:40px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_app_160425.png) left top no-repeat;background-size:100%;color:transparent;font-size:0;z-index:-1;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
}
.rnBtnTop.app{bottom:5px}
.rnBtnTop.on{opacity:1;z-index:10}
.rnBtnApp.on{opacity:1;z-index:10}
.rnCommSel{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;vertical-align:top}

/* list */
.rnLstType > li{border-top:1px solid #d2d0d0}
.rnLstType > li:first-child{border-top:none}
.rnLstType a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;position:relative;line-height:1.5;padding:9px 34px 9px 20px;color:#333333}
.rnLstType a:after{content:'';display:block;position:absolute;top:50%;right:20px;width:6px;height:6px;margin-top:-4px;border-left:2px solid #393737;border-bottom:2px solid #393737;
transform:rotate(-135deg);
-webkit-transform:rotate(-135deg);
}
.rnLstType.type02{overflow:hidden}
.rnLstType.type02 > li{float:left;width:50%}
.rnLstType.type02 > li:nth-child(2){border-top:none}
.rnLstType.type02 > li:nth-child(2n+1) a{border-right:1px solid #d2d0d0}
.rnLstType.type02 > .rnBrdBd{margin-bottom:-1px;border-bottom:1px solid #d2d0d0}
.rnLstType.type02.delType{border-bottom:1px solid #d2d0d0}
.rnLstType02{overflow:hidden;border-bottom:1px solid #acacac}
.rnLstType02 > li{float:left;width:50%;border-top:1px solid #d2d0d0}
.rnLstType02 > li:nth-child(2n+1) a{border-right:1px solid #d2d0d0}
.rnLstType02 > li:nth-child(1),.rnLstType02 > li:nth-child(2){border-top:none}
.rnLstType02 a{display:block;height:37px;padding-top:8px;font-size:0.625rem;text-align:center}
.rnAsideTxt{color:#d82527}
.rnAsideTxt strong{font-size:0.750rem;font-weight:bold}

/* tab */
.rnTabWrap{background-color:#ffffff}
.rnTabDepth1{display:table;table-layout:fixed;width:100%;border-spacing:0;border-collapse:collapse;background-color:#ebeced;word-break:break-all}
.rnTabDepth1 a{display:table-cell;line-height:35px;border-top:1px solid #ebeced;border-bottom:1px solid #acacac;font-size:0.813rem;font-weight:bold;text-align:center;letter-spacing:-1px}
.rnTabDepth1 a.on{border:1px solid #acacac;border-bottom:1px solid #ffffff;background-color:#ffffff;color:#000000 !important}
.rnTabDepth1 a:first-child{border-left:none}
.rnTabDepth1 a:last-child{border-right:none}
.rnTabDepth2{display:table;table-layout:fixed;width:100%;border-bottom:1px solid #acacac;word-break:break-all}
.rnTabDepth2 a{display:table-cell;position:relative;line-height:33px;font-size:0.750rem;text-align:center}
.rnTabDepth2 a:before{content:'|';display:block;position:absolute;top:0;left:0;color:#b8b8b8}
.rnTabDepth2 a:first-child:before{display:none}
.rnTabDepth2 a.on{color:#d82527 !important}
.rnTabDepth3{display:table;table-layout:fixed;width:100%;border-top:1px solid #acacac;border-bottom:1px solid #acacac;word-break:break-all}
.rnTabDepth3 a{display:table-cell;position:relative;line-height:33px;border-bottom:2px solid #ffffff;font-size:0.688rem;text-align:center}
.rnTabDepth3 a.on{border-bottom:2px solid #d82527;color:#d82527 !important}

/* scroll */
.rnScrollWrap{overflow:hidden;position:relative;z-index:1}
aside .rnScrollWrap{position:absolute;top:44px;left:0;right:0;bottom:0;z-index:1}
.rnScroller{z-index:1;
transform:translateZ(0);
-webkit-transform:translateZ(0);
user-select:none;
-webkit-touch-callout:none;
-webkit-user-select:none;
text-size-adjust:none;
-webkit-text-size-adjust:none;
}
.rnScrollIndicator{
border:none !important;
border-radius:2px;
-webkit-border-radius:2px;
}
.rnScrollBar{display:none}
.rnScrollBar:last-child{display:block}

/* swipe */
.swipeWrap{overflow:hidden;position:relative}
.swipeArea{position:relative;width:100%;height:100%;z-index:0;
display:-webkit-box;
display:flex;
display:-webkit-flex;
transition-property:transform;
-webkit-transition-property:-webkit-transform;
}
.swipeCont{position:relative;width:100%;height:100%;
flex-shrink:0;
-webkit-flex-shrink:0;
}
.swipeCont a{display:block}
.swipeNavWrap{position:absolute;bottom:0px;left:0;right:0;height:3px;text-align:center;z-index:1}
.swipeNav{display:inline-block;width:20px;height:3px;margin:0 2px;background-color:#a8a5a5;vertical-align:top}
.swipeNavOn{background-color:#d82527}
.swiperNavNxt,
.swiperNavPrv{display:block;overflow:hidden;position:absolute;top:50%;width:8px;height:14px;margin-top:-7px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_swipe_prnv.png) left top no-repeat;background-size:8px auto;z-index:1}
.swiperNavPrv{left:5px}
.swiperNavNxt{right:5px;background-position:left -14px}



/* 자동완성 */
#sch    {position:absolute;left:7px;top:40px;width:100%;height:40px;z-index:20;}
    #sch h1 {float:left;display:none;}
        #frm    {position:absolute;left:0;top:0;width:100%;}
        #frm > section  {margin-right:100px;}
        #frm .box   {position:relative;float:left;max-width:210px;width:80%;height:24px;border:2px solid #DC2121;border-right:none; background:#fff;}
        #frm .keyword   {position:absolute;left:0;top:0;width:100%;height:24px;border:none;font-size:14px;line-height:24px;background:#ffffff;color:#000000 !important;-webkit-border-radius:0 !important;border-radius:0;}
        #frm .box input {-webkit-border-radius:0 !important; border-radius:0 !important;}
        #frm .sp.search {float:left;width:35px;height:28px;border:none;background:#DC2121 url('/images/common/hd_search.png') no-repeat 0 0;line-height:1000px;overflow:hidden;}
        #sgt    {display:none;position:absolute;left: -10px;top: 32px;right: -10px;width:auto;}
        #sgt > section  {margin-right:100px;background:green;}
        #sgt li {position:relative; padding: 8px 0 8px 8px; border-top: 1px solid #E0DFDF;}
        #sgt li a {color: #000000;padding: 0 10px;display: block;}
        #sgt > div  {background: #ffffff; border:none; border-top: 2px solid #dc2138; border-bottom: 2px solid #dc2138;}
        #sgt .count {position:absolute;right:10px;top:0;width:80px;height:40px;text-align:right;}
        #sgt mark {background: none; color: #dc2138;/*margin-right: -4px;*/}
        #sgt .go {position:absolute;right:8px;top:4px;width:50px;height:20px;overflow:hidden;background: #484848;color:#FFFFFF; overflow: hidden; font-size: 11px; border:none; text-decoration: none; text-align: center; border-radius: 0}
        #sgt .go u {line-height: 22px; text-decoration: none;} 
        #sgt .sbtn {background: none; border: 0; text-align: right; color: #666666;margin-bottom:10px}
        #sgt .control {text-align: right;}
        #sgt var {position: absolute; right: 15px; color: #000000;top: 8px;}
    #nav    {position:absolute;left:0;top:80px;width:100%;height:35px;border-top:1px solid #888888;border-bottom:1px solid #111111;background:#111111 url('/images/common/hd_nav.png') repeat-x top;}
    #nav h1 {display:none;}
    #nav ul {width:100%;height:35px;}
    #nav li {position:relative;float:left;width:25%;height:35px;text-align:center;color:#fff;z-index:10;}
    #nav li p   {height:35px;line-height:35px;font-weight:bold;color:#fff;}
    #nav .ca {display:none;}
    #nav .m {position:absolute;right:5px;top:-40px;width:auto;z-index:21;}
    #nav .m p   {width:70px;height:28px;background:#111111 url('/images/common/hd_mypage.png') no-repeat 0 0;;line-height:28px;font-size:small;letter-spacing:-1px;}
    #nav .m p   {height:26px;padding:0;border:1px solid #B3B3B3;border-radius:0;background:#dadada -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dadada)) no-repeat;white-space:nowrap;color:#333333;font-size:12px;letter-spacing:-1px;text-align:center;overflow:hidden;}
    #nav .m p   {border-color:#222222;background:#232323 -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#1b1b1b)) no-repeat;color:#ffffff;}


.fnLoading {position:absolute; left:0;top:0;z-index:99998;background-color:#000;display:none;}

/* 이벤트 기획전 소셜 버튼 */
#tbar.tbar{margin-bottom:0}
.tbar{position:relative;z-index:10;}
.tbar .btnSocial{position:absolute;top:7px;right:15px;display:block;width:17px;}
.tbar .btnSocial img{width:100%;}

.socialBox{display:none;position:absolute;top:161px;right:0px;width:210px;border:1px solid #959595;background:#fff;z-index:9999;}
.socialBox .layerCont{position:relative;padding:10px 15px;}
.socialBox .layerCont h2.tit{margin-bottom:12px;padding-bottom:8px;border-bottom:1px solid #626262;}
.socialBox .layerCont h2.tit img{height:18px;}
.socialBox .layerCont a.btnClose{position:absolute;top:10px;right:15px;}
.socialBox .layerCont a.btnClose img{height:18px;}
.socialBox .layerCont .social_list{overflow:hidden;width:190px;}
.socialBox .layerCont .social_list ul{width:210px;}
.socialBox .layerCont .social_list ul li{float:left;margin:0 0 5px 5px;text-align:center;}
.socialBox .layerCont .social_list ul li:nth-child(1+4n){margin-left:0;}
.socialBox .layerCont .social_list ul li a{display:inline-block;width:41px;height:41px;text-indent:-9999px;}
.socialBox .layerCont .social_list ul li.share01 a{background: url('//m.ssgdfs.com/images/shop/sns01.png') no-repeat center 0;background-size:100%;}
.socialBox .layerCont .social_list ul li.share02 a{background: url('//m.ssgdfs.com/images/shop/sns02.png') no-repeat center 0;background-size:100%;}
.socialBox .layerCont .social_list ul li.share03 a{background: url('//m.ssgdfs.com/images/shop/sns03.png') no-repeat center 0;background-size:100%;}
.socialBox .layerCont .social_list ul li.share04 a{background: url('//m.ssgdfs.com/images/shop/sns04.png') no-repeat center 0;background-size:100%;}
.socialBox .layerCont .social_list ul li.share05 a{background: url('//m.ssgdfs.com/images/shop/sns05.png') no-repeat center 0;background-size:100%;}
.socialBox .layerCont .social_list ul li.share06 a{background: url('//m.ssgdfs.com/images/shop/sns06.png') no-repeat center 0;background-size:100%;}
.dimmed{position:fixed;top:0px;left:0px;width:100%;height:100%;background:#000;opacity:0.5;z-index:20;}
body.scrollNo{overflow:hidden;}

/* 2016-04-29 BI 개편 s */
.rnTopSlide, .rnSmBanner{border-bottom:none;}
.rnHmLst01 > li:nth-child(2n+1) .rnHmlBtn01{border-right:1px solid #fff;}
.rnHmlBtn01{border-top:1px solid #fff;}
.rnBobLst a{font-family: 'Nanum Gothic';font-size:13px;}
.rnBobLst a,
.rnBobLst .on a{height:30px;line-height:30px;border-bottom:none;}
.rnFootBtn{background:#f8f8f8;}

.rnFootSlide{width:100%;padding-bottom:5px;border-top:1px solid #acacac;overflow:hidden;}
.rnFootSlide .swipeCont{width:25% !important;}
.rnFootSlideBn{display:block;line-height:1.0;padding:34px 0 13px 0;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_icon.png) center top no-repeat;background-size:19px auto;font-size:11px;text-align:center;letter-spacing:-1px}
.rnFootSlide .swipeNavWrap{bottom:5px}
.rnFootIcon01{background-position:center 4px}
.rnFootIcon02{background-position:center -73px}
.rnFootIcon03{background-position:center -147px}
.rnFootIcon04{background-position:center -221px}
.rnFootIcon05{background-position:center -296px}
.rnFootIcon06{background-position:center -370px}
.rnFootIcon07{background-position:center -443px}
.rnFootIcon08{background-position:center -520px}
.rnFootIcon09{background-position:center -594px}
.rnFootIcon10{background-position:center -668px}

.rnFootSlideBox{position:relative;padding:0 20px;width:100%;box-sizing: border-box;}
.rnFootSlide{margin:0;padding:0;border-top:0;}
.rnFootSlide .swipeArea{margin-right:6.25%;}
.rnFootSlideBox .swiperNavPrv,
.rnFootSlideBox .swiperNavNxt{display:block;overflow:hidden;position:absolute;top:50%;width:7px;height:11px;margin-top:-4.5px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_swipe_prnv_160425.png) left top no-repeat;background-size:13px 11px;z-index:1;text-indent:-9999px;}7.5px;z-index:1;text-indent:-9999px;}
.rnFootSlideBox .swipeNavWrap{display:none;}

/* 2016-04-29 BI 개편 e */

/* 2016-05-09 BI 개편 s */
.topHead{position:relative;height:38px;background:#e50e1b;border:1px solid #d21b26;border-width:1px 0;}
.topHead h2{text-align:center;padding:14px 0 0 0;}
.topHead h2 img{height:12px;}
.topHead .rnAsideClose{position:absolute;top:13.5px;left:15px;display:block;width:8px;height:13.5px;background:url("http://image.ssgdfs.com/images/shop/main/kr/mobile/btn_prev_160509.png") no-repeat 0 0;background-size:100%;text-indent:-9999px;}

.userName{position:relative;height:35px;border-bottom:1px solid #c7c7c7;}
.userName .rnAsideTit{padding:0 0 0 15px;line-height:35px;font-size:13px;font-weight:bold;color:#57585c;font-family: 'Nanum Gothic';}
.userName .rnAsideLogout{position:absolute;top:10px;right:15px;width:54px;height:15.5px;background:url("http://image.ssgdfs.com/images/shop/main/kr/mobile/btn_logout_160509.png") no-repeat 0 0;background-size:100%;text-indent:-9999px;}

.newBox *{font-family: 'Nanum Gothic';}
.newBox{background:#ececec;}
.newBox .gradeBox{padding:11px 15px 8px;}
.newBox .gradeBox .txtGd{}
.newBox .gradeBox .txtGd img{height:11px;vertical-align:top;margin-top:1px;}
.newBox .gradeBox .txtGd .rnAsideGrade{font-size:14px;color:#f94d58;font-family:Robot;line-height:16px;}
.newBox .gradeBox .txtGd .rnAsideBtn{top:15px;right:15px;padding:0;background:none;}
.newBox .gradeBox .txtGd .rnAsideBtn img{height:10px;}

.newBox .whiteBox03{margin:0 15px;background:#fff;}
.newBox .whiteBox04{margin:0 15px;background:#fff;border:1px solid #d6d5d5;}
.newBox .whiteBox05{background:#fff;}
.newBox .rnLstType02{overflow:hidden;border:1px solid #d6d5d5;border-width:0 1px 1px 0;}
.newBox .rnLstType02 > li{float:left;width:33%;border:1px solid #d6d5d5;border-width:1px 0 0 1px;box-sizing:border-box;}
.newBox .rnLstType02 > li:nth-child(2n+1) a{border-right:none}
.newBox .rnLstType02 > li:nth-child(1),
.rnLstType02 > li:nth-child(2){border-top:1px solid #d6d5d5;}
.newBox .rnLstType02 > li:nth-child(3n+3){width:34%;}
.newBox .rnLstType02 a{display:block;height:auto;padding:9px 0 9px 0;font-size:12px;text-align:center}
.newBox .rnLstType02 a .rnAsideLstTit{margin-bottom:5px;font-family: 'Nanum Gothic';font-size:12px;}
.newBox .rnLstType02 a .rnAsideTxt{color:#000;font-size:12px;font-family:Roboto;}
.newBox .rnLstType02 a .rnAsideTxt strong{color:#e50e1b;font-size:14px;font-weight:normal;}

.newBox .schedules{padding:18.5px 0 15.5px 22px;}
.newBox .schedules .btnSchedules img{width:244.5px;}

.newBox .rnPassportLst {border:1px solid #d6d5d5;border-width:1px 0;}
.newBox .rnPassportLst > li{position:relative;padding:0 15px;line-height:1.5;border-top:1px solid #d6d5d5;font-size:12px}
.newBox .rnPassportLst > li:first-child{border-top:none}
.newBox .rnPsTit{position:absolute;top:0;left:15px;font-size:12px;line-height:30px;}
.newBox .rnPsTxt{padding:6px 15px 5px 74px;min-height:auto;color:#000;font-size:13px;}
.newBox .rnPassportLst > li:first-child .rnPsTxt{padding-right:80px;}
.newBox .rnPsTxt .rnAsideBtn{background:none;padding:0;top:8px;right:15px;}
.newBox .rnPsTxt .rnAsideBtn img{height:14px;}
.newBox .rnMyBn{margin-top:0}
.newBox .rnMyBn img{width:100%;height:auto}

.newBox .rnLstType{border:1px solid #d4d3d3;border-width:1px 0;}
.newBox .rnLstType > li{border-top:1px solid #d2d0d0}
.newBox .rnLstType > li:first-child{border-top:none}
.newBox .rnLstType a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;position:relative;height:35px;line-height:37px;padding:0 0 0 15px;color:#2c2829;font-size:13px;font-weight:bold;}
.newBox .rnLstType a:after{content:'';display:block;position:absolute;top:50%;right:20px;width:6px;height:6px;margin-top:-4px;border-left:2px solid #ef6e76;border-bottom:2px solid #ef6e76;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}


.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}

aside .rnScrollWrap{top:41px;background:#ececec;}

#rnAllMenu *{font-family: 'Nanum Gothic';}

#rnAllMenu .topHead{position:relative;height:39px;background:#e50e1b;border:1px solid #d21b26;border-width:1px 0;}
#rnAllMenu .topHead h2.userState{text-align:left;padding:0 0 0 15px;line-height:39px;color:#fff;font-size:13px;font-weight:bold;}
#rnAllMenu .topHead h2.userState strong{font-weight:bold;}
#rnAllMenu .topHead h2.userState span.gd{padding:0 4px;line-height:27px;font-family:Roboto;font-size:12px;border:1px solid #f38990;border-radius:3px;font-weight:normal;}
#rnAllMenu .topHead .rnAsideClose{position:absolute;top:13px;left:auto;right:15px;display:block;width:13.5px;height:13.5px;background:url("http://image.ssgdfs.com/images/shop/common/btn_close_160509.png") no-repeat 0 0;background-size:100%;text-indent:-9999px;}

#rnAllMenu .newMenu{background:#ececec;}
.newMenu h3.titCate{height:auto;border-bottom:none;padding:16px 0 9px 15px;}
.newMenu h3.titCate img{height:11.5px;}

.newMenu .whiteBox03{margin:0 15px;background:#fff;}
.newMenu .whiteBox04{margin:0 15px;background:#fff;border:1px solid #d6d5d5;}
.newMenu .whiteBox05{background:#fff;}
.newMenu .rnLstType02{overflow:hidden;border:1px solid #d6d5d5;border-width:0 1px 1px 0;}
.newMenu .rnLstType02 > li{float:left;width:33%;border:1px solid #d6d5d5;border-width:1px 0 0 1px;box-sizing:border-box;}
.newMenu .rnLstType02 > li:nth-child(2n+1) a{border-right:none}
.newMenu .rnLstType02 > li:nth-child(1),
.newMenu .rnLstType02 > li:nth-child(2){border-top:1px solid #d6d5d5;}
.newMenu .rnLstType02 > li:nth-child(3n+3){width:34%;}
.newMenu .rnLstType02 a{display:block;height:auto;padding:12px 0 7px 0;font-size:12px;text-align:center}
.newMenu .rnLstType02 a .rnAsideLstTit{margin-bottom:3px;font-family: 'Nanum Gothic';font-size:12px;}
.newMenu .rnLstType02 a .rnAsideTxt{color:#000;font-size:12px;font-family:Roboto;}
.newMenu .rnLstType02 a .rnAsideTxt strong{color:#e50e1b;font-size:14px;font-weight:normal;}

.newMenu .rnLstType{border:1px solid #d4d3d3;border-width:1px 0;}
.newMenu .rnLstType > li{border-top:1px solid #d2d0d0}
.newMenu .rnLstType > li:first-child{border-top:none}
.newMenu .rnLstType a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;position:relative;height:35px;line-height:39px;padding:0 0 0 15px;color:#2c2829;font-size:13px;font-weight:bold;}
.newMenu .rnLstType a:after{content:'';display:block;position:absolute;top:50%;right:20px;width:6px;height:6px;margin-top:-4px;border-left:2px solid #ef6e76;border-bottom:2px solid #ef6e76;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
.newMenu .rnLstType.fwn a{font-weight:normal;}

.newMenu .rnAsideIcon{overflow:hidden;border:1px solid #d4d3d3;border-width:1px 0;}

.passport_info{width:290px;padding:22px 0 0 0;margin:0 auto;margin-bottom:10px;background:url("http://image.ssgdfs.com/images/shop/main/kr/mobile/bg_passport_01.png") no-repeat 0 0;background-size:100%;}
.passport_info div.inner{padding:0 0 28px 0;background:#fff url("http://image.ssgdfs.com/images/shop/main/kr/mobile/bg_passport_02.png") no-repeat 0 100%;background-size:100%;}
.passport_info div.inner div.box{padding:0;border:1px solid #e4e4e4;border-width:0 1px;background:url("http://image.ssgdfs.com/images/shop/main/kr/mobile/bg_passport_04.png") repeat-y 91px 0;background-size:1px 7px;}
.passport_info div.inner div.box div.box02{padding:6px 0 11px 0;background:url("http://image.ssgdfs.com/images/shop/main/kr/mobile/bg_passport_03.png") no-repeat 3px 50%;background-size:10px 15px;}
.passport_info table{margin:0 0 0 20px;}
.passport_info table *{font-family: 'Nanum Gothic';}
.passport_info th{text-align:left;font-size:11px;font-weight:bold;color:#2c2829;}
.passport_info td{padding:2px 0;padding-right:10px;font-size:11px;font-weight:bold;color:#2c2829;}
.passport_info td.time strong{font-family:Roboto;color:#e50e1b;font-weight:bold;font-size:12px;}
.passport_info td.pay strong{font-family:Roboto;color:#e50e1b;font-weight:bold;font-size:12px;}
.passport_info td.pay span{color:#79787d;font-size:10px;vertical-align: top;}

#rnAllMenu + #dimmed{display:none;position:fixed;top:0px;left:0px;width:100%;height:100%;background:#000;opacity:0.5;z-index:10;}
#rnAllMenu.on + #dimmed{display:block;}

/* 2016-05-09 BI 개편 e */

/* 2016-07-20 푸터 개편 s */
div.rnFootInfoNew{padding-bottom:25px;}
div.rnFootInfoNew p.titFootSel{height:44px;line-height:44px;text-align:center;border-top:1px solid #c7c7c7;letter-spacing:-1px;}
div.rnFootInfoNew p.titFootSel a{display:inline-block;padding-right:15px;font-size:13px;font-weight:bold;color:#57585c;background:url('//image.ssgdfs.com/images/shop/main/kr/mobile/bul_fsel_off.png') no-repeat 100% 50%;background-size:11px 6px;}
div.rnFootInfoNew p.titFootSel a.on{background:url('//image.ssgdfs.com/images/shop/main/kr/mobile/bul_fsel_on.png') no-repeat 100% 50%;background-size:11px 6px}
/*#companyInfo{overflow:hidden;height:0px;background:#f8f8f8;}*/
#companyInfo{display:none;overflow:hidden;background:#f8f8f8;margin-bottom:14px;padding:14px 15px;border:1px solid #c6c6c6;border-width:1px 0;}
#companyInfo h4.titHfoot{margin-bottom:7px;font-size:12px;color:#57565b;}
#companyInfo p{font-size:11px;line-height:14px;color:#79787d;}

div.rnFootInfoNew div.footPrivacy ul{text-align:center;margin-bottom:7px;}
div.rnFootInfoNew div.footPrivacy ul li{display:inline-block;padding:0 11px 0 15px;line-height:14px;text-align:center;background:url('//image.ssgdfs.com/images/shop/main/kr/mobile/line_1_10.gif') no-repeat 0 1px;}
div.rnFootInfoNew div.footPrivacy ul li:first-child{background:none;}
div.rnFootInfoNew div.footPrivacy ul li a{color:#79787d;}
div.rnFootInfoNew div.footPrivacy ul li a.str{font-weight:bold;color:#e50e1b;}

div.rnFootInfoNew p.footCopy{text-align:center;color:#79787d;font-size:12px;}

.rnFootIsms{clear:both;display:inline-block;height:33px;margin-top:10px;padding:7px 0 0 45px;background:url(//image.ssgdfs.com/images/shop/main/kr/mobile/rn_foot_isms.png) 0 0 no-repeat;background-size:40px;color:#79787d;letter-spacing:-1px}
/* 2016-07-20 푸터 개편 e */

/* 주문내역 리스트 수정 s */
header.myOrdDay{padding:10px;border:1px solid #ddd;border-width:1px 0;}
/* 주문내역 리스트 수정 e */
