@charset "utf-8";

/* common */
.rnTopSlide,
.rnSmBanner{position:relative;/*margin-bottom:-1px;border-bottom:1px solid #acacac*/}
/*.rnSmBanner{border-top:1px solid #acacac}*/
.rnTopSlideBn img,
.rnSmBanner img{width:100%;height:auto}
.rnTopSlide .swipeCont,
.rnSmBanner .swipeCont{width:100%}
.rnTopSlide .swipeNavWrap,
.rnSmBanner .swipeNavWrap{bottom:7px}


/* home */
.rnHmReview{height:112px;margin:12px -12px -10px;padding:6px 12px 0;background-color:#ebeced;text-align:left}
.rnHmRvScore{overflow:hidden}
.rnHmRvNum{float:left;color:#d82527;font-size:0.938rem;font-weight:bold;letter-spacing:-1px}
.rnHmStar{float:left;width:73px;height:13px;margin:2px 0 0 8px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_star.png) left top no-repeat;background-size:73px auto}
.rnHmStarIn{height:13px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_star.png) left -50px no-repeat;background-size:73px auto}
.rnHmRvLst > li{margin-top:4px;font-size:0.625rem}
.rnHmRvTxt{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}

.rnHmCate01{overflow:hidden;position:relative;
transition:all 0.3s ease;
-webkit-transition:all 0.3s ease;
}
.rnHmCateDpth1{overflow:hidden;position:relative;border-bottom:1px solid #acabac;z-index:1}
.rnHmCateDpth1.type02 a{width:100%}
.rnHmCateDpth1 a{float:left;position:relative;width:50%;line-height:35px;background-color:#ffffff;font-size:0.750rem;text-align:center}
.rnHmCateDpth1 a:before{content:'|';display:block;position:absolute;top:0;left:-2px;color:#b8b8b8;text-align:left}
.rnHmCateDpth1 a:first-child:before{display:none}
.rnHmCateDpth1 a:after{content:'';display:block;position:absolute;top:10px;right:20px;width:6px;height:6px;border-left:2px solid #848483;border-bottom:2px solid #848483;
transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
transition:all 0.2s linear;
-webkit-transition:all 0.2s linear;
}
.rnHmCateDpth1 .on{color:#d82527}
.rnHmCateDpth1 .on:after{top:14px;border-color:#d82527;
transform:rotate(-225deg);
-webkit-transform:rotate(-225deg);
}
.rnHmCateDpth2{overflow:hidden;position:absolute;bottom:0;left:0;right:0;width:100%;border-bottom:1px solid #acabac;z-index:0}
.rnHmCateDpth2 > li{float:left;width:50%}
.rnHmCateDpth2 a{display:block;line-height:34px;border-bottom:1px solid #d2d0d0;border-right:1px solid #d2d0d0;color:#333333;font-size:0.688rem;text-align:center}
.rnHmCateDpth2 > li:nth-child(2n) a{border-right:none}
.rnHmCateDpth2 > li:last-child a{border-bottom:none}
.rnHmSorting{padding:6px 10px 14px;border-bottom:1px solid #acacac;text-align:right}
.rnHmSorting a{display:inline-block;margin-left:8px;font-size:0.625rem;vertical-align:top}
.rnHmSorting .on{color:#d82527}



/* event */
.rnEvLst01 .rnEvBtn01{display:block;padding-bottom:18px;text-align:center}
.rnEvImg01{idsplay:block;width:100%;height:auto}
.rnEvTit01{line-height:1.5;padding:8px 0 0;color:#000000;font-size:0.688rem}
.rnEvDate01{color:#555555;font-size:0.625rem}

.rnEvWrap{padding:7px}
.rnEvLst02{overflow:hidden}
.rnEvLst02 > li{float:left;width:50%}
.rnEvBtn02{display:block;position:relative;padding:3px}
.rnEvImg02{display:block;width:100%;height:auto}
.rnEvBx02{position:absolute;bottom:3px;left:3px;right:3px;line-height:1.2;padding:7px 0;background:rgba(0,0,0,0.6);color:#ffffff;text-align:center}
.rnEvTit02{font-size:0.688rem}
.rnEvDate02{font-size:0.625rem;letter-spacing:-1px}
.rnEvFix01 > li:nth-child(odd){float:left}
.rnEvFix01 > li:nth-child(even){float:right}
.rnEvFix01 > li:last-child{clear:both;width:100%}
.rnEvFix02 > li:nth-child(2n){float:right}
.rnEvFix02 > li:nth-child(2n+1){float:left}
.rnEvFix02 > li:first-child{clear:both;width:100%}



/* hotsale */
.rnHotEveryday{position:relative;padding:6px;background-color:#fcd2d2}
.rnHotTit02{margin-bottom:10px;text-align:center}
.rnHotTit02 img{width:auto;height:18px}
.rnHotEvCon{position:relative;min-height:75px;padding:25px 10px 35px 150px;background-color:#ffffff}
.rnHotOneday{display:block;position:absolute;top:7px;left:8px;width:54px;height:31px;padding-top:23px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/hotsale/rn_icon_oneday.png) no-repeat left top;background-size:54px;color:#d82527;font-size:0.750rem;text-align:center;z-index:1}
.rnHotOneday em{font-size:0.938rem;font-weight:bold}
.rnHotEvImg{position:absolute;top:5px;left:25px;width:120px;height:120px}
.rnHotEveryday .rnHotInfo{margin-bottom:10px;padding:0;background:none}
.rnHotTimeWrap{overflow:hidden;position:relative}
.rnHotTimeTit{line-height:15px;margin-bottom:3px;padding-left: 16px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/hotsale/rn_icon_hottime.png) no-repeat left 1px;background-size:13px;color:#000000;font-size:0.625rem}
.rnHotTimeLst{overflow:hidden}
.rnHotTimeLst > li{float:left;position:relative;padding-left:6px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/hotsale/rn_icon_hot_colon.png) 2px center no-repeat}
.rnHotTimeLst > li:first-child{padding-left:0;background:none}
.rnHotTime{float:left;line-height:15px;margin:0 1px;padding:0 4px;color:#ffffff;font-size:0.750rem;font-weight:bold;
background: linear-gradient(to bottom, #222222 0%,#222222 50%,#4c443e 51%,#4c443e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(50%,#222222), color-stop(51%,#4c443e), color-stop(100%,#4c443e));
background: -webkit-linear-gradient(top, #222222 0%,#222222 50%,#4c443e 51%,#4c443e 100%);
}

.rnHotTit{height:70px;text-align:center}
.rnHotTit img{display:inline-block;width:auto;height:25px;margin-top:20px;vertical-align:top}
.rnHotLst > li{border-top:1px solid #acacac}
.rnHotLst > li:first-child{border-top:none}
.rnHotBtn{display:block;position:relative}
.rnHotDiscount{position:absolute;top:15px;left:3px;width:56px;height:41px;padding-top:7px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_discount.png) left top no-repeat;background-size:100%;color:#ffffff;font-size:1rem;font-weight:bold;text-align:center;letter-spacing:-1px}
.rnHotDiscount span{font-size:0.750rem}
.rnHotImg{display:block;width:auto;height:250px;margin:0 auto}
.rnHotInfo{position:relative;padding:10px 18px 15px;background-color:#ebeced}
.rnHotPrd{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:3px;color:#000000;font-size:0.750rem}
.rnHotCpn{color:#666666}
.rnHotPrc > *{display:inline-block;vertical-align:top}
.rnHotPrcBf{margin-top:5px;color:#999999;font-size:0.625rem;text-decoration:line-through}
.rnHotPrcUsd{color:#d82527;font-size:1rem;font-weight:bold}
.rnHotPrcKrw{margin-top:5px;color:#d82527;font-size:0.625rem}
.rnHotMd{position:absolute;top:-5px;left:10px;width:43px;height:41px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_recommend.png) left top no-repeat;background-size:100%;color:transparent;font-size:0}
.rnHotChoice .rnHotTit{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_bg_choice.png) center top no-repeat;background-size:cover}
.rnHotChoice .rnHotInfo{padding-left:62px}
.rnHotSale .rnHotTit{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_bg_sale.png) center top no-repeat;background-size:cover}



/* brand */
.rnBrdTop{overflow:hidden;margin-bottom:20px;border-bottom:1px solid #acacac}
.rnBrdTop > li{float:left;width:33%}
.rnBrdTop > li:nth-child(1), .rnBrdTop > li:nth-child(4){width:34%}
.rnBrdTop > li:nth-child(1) a, .rnBrdTop > li:nth-child(2) a, .rnBrdTop > li:nth-child(3) a{border-top:none}
.rnBrdTop > li:nth-child(1) a, .rnBrdTop > li:nth-child(4) a{border-left:none}
.rnBrdTop a{display:block;height:44px;border-top:1px solid #e3e2e2;border-left:1px solid #e3e2e2;text-align:center}
.rnBrdTop img{height:100%;width:auto}
.rnBrdKey{overflow:hidden;padding:15px 20px 20px 15px}
.rnBrdKey > li{float:left}
.rnBrdKey a{display:block;width:28px;height:28px;line-height:28px;margin:5px 0 0 5px;border:1px solid #999999;font-size:1.063rem;text-align:center}
.rnBrdKey .on{border-color:#f7a4a5;background-color:#f7a4a5;color:#ffffff}
.rnBrdKey01 > li:last-child a{width:63px}
.rnBrdKey03 > li{width:25%}
.rnBrdKey03 a{width:auto;font-size:0.625rem;letter-spacing:-1px}
.rnBrdTit{line-height:1.5;padding:5px 20px 4px;background-color:#f7a4a5;color:#ffffff;font-size:1.063rem;font-weight:bold}
.rnBrdSelWrap{position:relative;padding:8px 33px 8px 8px;border-bottom:1px solid #acacac;background-color:#ebeced}
.rnBrdSel{display:table;table-layout:fixed;width:100%}
.rnBrdSel > *{display:table-cell;padding-right:3px;vertical-align:top}
.rnBrdSel .rnCommSel{height:18px;line-height:18px;border:1px solid #999999;background-color:#ffffff;color:#333333;font-size:0.625rem;letter-spacing:-1px}
.rnBrdSel .rnBrdSelAp{width:35px}
.rnBrdSel .rnBrdSelPrd{width:26%}
.rnBrdSel .rnBrdSelRange{width:45px}
.rnBrdSelBtn{display:block;position:absolute;top:8px;right:8px;width:25px;height:18px;line-height:18px;border:1px solid #999999;background-color:#ffffff;color:#333333;font-size:0.625rem;text-align:center;letter-spacing:-1px}


/* messaage */
.rnMsgLst > li{position:relative;line-height:1.5;border-top:1px solid #e3e2e2;font-size:0.625rem}
.rnMsgLst > li:first-child{border-top:none}
.rnMsgBtn{display:table;table-layout:fixed;width:100%}
.rnMsgBtn > *{display:table-cell;padding:12px 0;vertical-align:middle}
.rnMsgCal{overflow:hidden;width:30%;padding:0 15px;color:#666666}
.rnMsgCal > *{float:left}
.rnMsgCal > *:first-child{margin-right:5px}
.rnMsgNew{display:inline-block;width:9px;height:9px;margin-top:3px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_msg_new.png) no-repeat left top;background-size:100%;color:transparent;font-size:0;vertical-align:top}
.rnMsgTxt{padding-right:62px;color:#333333}
.rnMsgDel{display:block;opacity:0;position:absolute;top:50%;right:15px;width:30px;height:30px;line-height:30px;margin-top:-15px;background-color:#d82527;color:#eceaec !important;font-size:0.625rem;text-align:center;z-index:-1;
transition:all 0.2s linear;
-webkit-transition:all 0.2s linear;
transform:scale(0.5);
-webkit-transform:scale(0.5);
}
.rnMsgLst > li.on .rnMsgDel{display:block;opacity:1;z-index:1;
transform:scale(1);
-webkit-transform:scale(1);
}


/* detail */
.rnItemSlide{padding-bottom:20px}

/* k몰 모바일 event 페이지  배너 간격 조정 */ 
.allofevent .event a{display:block;padding:0 0 3%;background-color:#f1f1f1}
.allofevent .brand a{display:block;padding:0 0 3%;background-color:#f1f1f1}
.allofevent .splSell a{display:block;padding:0 0 3%;background-color:#f1f1f1}


.rnBtnSelect{display:block;position:absolute;top:0;right:0;bottom:0;width:55px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_message_off.png) center center no-repeat;background-size:26px;color:transparent;font-size:0}
.rnBtnSelect.on{background-image:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_btn_message_on.png)}
.rnMsgTopAll, .rnMsgTopRemove{position:absolute;top:0}
.rnMsgTopAll{right:50px}
.rnMsgTopRemove{right:15px}





/* main 이전디자인 복구 */
.slideset{overflow:hidden}
.slideset > *{float:left}
.titType01{
    height:29px;
    line-height:29px;
    padding-left:5px;
    border-top:1px solid #dddddd;
    border-bottom:1px solid #dddddd;
    background:#f1f1f1;
    color:#666;
    font-size:12px;
    font-weight:normal;
    text-align:left
}
.titType01 em{color:#645241;font-weight:bold}
.titType01 strong{color:#b63e3e;font-weight:bold}

.reco_viewtabs.type02{position:relative;margin-top:0;padding-bottom:10px}
.reco_viewtabs.type02 .reco_tabs{height:auto;border:none}
.reco_viewtabs.type02 .recoTxt{position:absolute;left:10px;bottom:10px}
.reco_viewtabs.type02 .prev2,
.reco_viewtabs.type02 .next2{display:none}

.rnBobWrap{position:relative}
.rnBob{position:relative;border-top:1px solid #d2d0d0}
.rnBobTit{overflow:hidden;margin:0 30px;background-color:#ffffff}
.rnBobLst{overflow:hidden;table-layout:fixed;
transition:all 0.5s ease;
-webkit-transition:all 0.5s ease;
}
.rnBobLst > li{float:left;text-align:center}
.rnBobLst a{display:block;margin:0 10px;height:30px;line-height:30px;border-bottom:none;}
.rnBobLst .on a{color:#d82527}
.rnBobWrap .swipeNavWrap{display:none}
.rnBobWrap .swiperNavPrv,
.rnBobWrap .swiperNavNxt{top:-32px;width:20px;height:30px;margin:0;background:none}
/*.rnBobWrap .swiperNavPrv span,
.rnBobWrap .swiperNavNxt span{display:block;overflow:hidden;width:8px;height:14px;margin:9px 0 0 5px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_swipe_prnv.png) left top no-repeat;background-size:8px auto;z-index:1}
.rnBobWrap .swiperNavNxt span{background-position:left -14px}*/
.rnBobWrap .swiperNavPrv span,
.rnBobWrap .swiperNavNxt span{display:block;overflow:hidden;width:6px;height:10px;margin:11px 0 0 10px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_swipe_prnv.png) left top no-repeat;background-size:6px auto;z-index:1}
.rnBobWrap .swiperNavNxt{right:11px;}
.rnBobWrap .swiperNavNxt span{background-position:left -11px}



.btnMainMore{display:block;position:absolute;top:1px;right:10px;font-size:11px}
.btnMainMore img{display:inline-block;width:15px;height:15px;margin-top:6px;vertical-align:top}

/* 핫세일 개편 */
/* hotsale */
.rnHotEveryday{position:relative;padding:6px;background-color:#fcd2d2}
.rnHotTit02{margin-bottom:10px;text-align:center}
.rnHotTit02 img{width:auto;height:18px}
.rnHotEvCon{position:relative;min-height:75px;padding:25px 10px 35px 150px;background-color:#ffffff}
.rnHotOneday{display:block;position:absolute;top:7px;left:8px;width:54px;height:31px;padding-top:23px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/hotsale/rn_icon_oneday.png) no-repeat left top;background-size:54px;color:#d82527;font-size:0.750rem;text-align:center;z-index:1}
.rnHotOneday em{font-size:0.938rem;font-weight:bold}
.rnHotEvImg{position:static;top:5px;left:25px;width:auto;height:auto}
.rnHotEveryday .rnHotInfo{margin-bottom:10px;padding:0;background:none}
.rnHotTimeWrap{overflow:hidden;position:static;}
.rnHotTimeTit{line-height:15px;margin-bottom:3px;padding-left:0;background:none;background-size:13px;color:#000000;font-size:0.625rem}
.rnHotTimeLst{overflow:hidden}
.rnHotTimeLst > li{float:none;position:static;padding-left:0;background:none;}
.rnHotTimeLst > li:first-child{padding-left:0;background:none}
.rnHotTime{float:none;line-height:auto;margin:0;padding:0 4px;color:#ffffff;font-size:0.750rem;font-weight:bold;
background: linear-gradient(to bottom, #222222 0%,#222222 50%,#4c443e 51%,#4c443e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(50%,#222222), color-stop(51%,#4c443e), color-stop(100%,#4c443e));
background: -webkit-linear-gradient(top, #222222 0%,#222222 50%,#4c443e 51%,#4c443e 100%);background:none;}

.rnHotTit{height:70px;text-align:center}
.rnHotTit img{display:inline-block;width:auto;height:25px;margin-top:20px;vertical-align:top}
.rnHotLst > li{border-top:1px solid #acacac}
.rnHotLst > li:first-child{border-top:none}
.rnHotBtn{display:block;position:relative}
.rnHotDiscount{position:absolute;top:15px;left:3px;width:56px;height:41px;padding-top:7px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_discount.png) left top no-repeat;background-size:100%;color:#ffffff;font-size:1rem;font-weight:bold;text-align:center;letter-spacing:-1px}
.rnHotDiscount span{font-size:0.750rem}
.rnHotImg{display:block;width:auto;height:250px;margin:0 auto}
.rnHotInfo{position:relative;padding:10px 18px 15px;background-color:#ebeced}
.rnHotPrd{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-bottom:3px;color:#000000;font-size:0.750rem}
.rnHotCpn{color:#666666}
.rnHotPrc > *{display:inline-block;vertical-align:top}
.rnHotPrcBf{margin-top:5px;color:#999999;font-size:0.625rem;text-decoration:line-through}
.rnHotPrcUsd{color:#d82527;font-size:1rem;font-weight:bold}
.rnHotPrcKrw{margin-top:5px;color:#d82527;font-size:0.625rem}
.rnHotMd{position:absolute;top:-5px;left:10px;width:43px;height:41px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_recommend.png) left top no-repeat;background-size:100%;color:transparent;font-size:0}
.rnHotChoice .rnHotTit{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_bg_choice.png) center top no-repeat;background-size:cover}
.rnHotChoice .rnHotInfo{padding-left:62px}
.rnHotSale .rnHotTit{background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_bg_sale.png) center top no-repeat;background-size:cover}

/* EVERYDAY HOT SALE 2016-04-25 */
.rnEdayHotSale{padding:10px;background:#dadada;}
.rnEdayHotSale .innerBox{position:relative;background:#fff;padding:13px 20px 13px 17px;border:1px solid #c4c4c5;border-radius:10px;box-shadow: 2px 2px 10px #c4c4c5;}
.rnEdayHotSale .innerBox .flag{position:absolute;top:-1px;left:-1px;z-index:10;width:43px;height:43px;font-size:15px;line-height:43px;color:#fff;text-align:center;border:1px solid #f94d58;border-radius:10px 0 0 0;background:#f94d58;opacity:0.85;font-family:Roroto;}
.rnEdayHotSale .innerBox .flag em{font-family:Roroto;font-size:22.5px;font-style:italic;padding-right:3px;}
.rnEdayHotSale .innerBox a{display:table;width:100%;}
.rnEdayHotSale .innerBox p.img{display:table-cell;width:50%;padding:0 20px 0 0;box-sizing: border-box;}
.rnEdayHotSale .innerBox p.img img{width:100%;}
.rnEdayHotSale .innerBox div.item{display:table-cell;width:50%;vertical-align:middle;}
.rnEdayHotSale .innerBox div.item h3.tit{padding:2px 0 15px 0;}
.rnEdayHotSale .innerBox div.item h3.tit img{height:11.5px;}
.rnEdayHotSale .innerBox div.item p.txt{margin:0 0 7px 0;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-wrap:break-word;font-size:12px;line-height:14px;height:28px;}
.rnEdayHotSale .innerBox div.item em.price{font-weight:bold;color:#e50e1b;font-size:16px;font-family:Myriad Pro;}
/* 남은 시간 mobile_rn_main CSS */
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap{margin:3px 0 0 0;}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap h4.rnHotTimeTit{float:left;margin-right:3px;padding-top:6px;}
@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) and (not (-moz-appearance:none)){
    .rnEdayHotSale .innerBox div.item .rnHotTimeWrap h4.rnHotTimeTit{padding-top:5px;}
}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap h4.rnHotTimeTit img{height:10px;}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap .rnHotTimeLst{overflow:hidden}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap .rnHotTimeLst > li{float:left;position:relative;color:#79787d;font-size:17.5px;font-family:roboto;}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap .rnHotTimeLst > li:first-child{padding-left:0;background:none}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap .rnHotTimeLst li span{position:relative;top:-2px;float:left;}
.rnEdayHotSale .innerBox div.item .rnHotTimeWrap .rnHotTime{float:left;line-height:20px;margin:0 1px;padding:0;color:#79787d;font-size:17.5px;font-family:roboto;font-weight:normal;}

h3.titHead01{position:relative;padding:0 0 0 15px;border:1px solid #e44751;border-width:1px 0;color:#fff;background:#f94d58;text-align:left;font-size:14px;}
h3.titHead01 img{height:29px;}
.btnMainMore{display:block;position:absolute;top:7px;right:10px;font-size:11px}
.btnMainMore img{display:inline-block;width:15px;height:15px;margin-top:6px;vertical-align:top}
.rnBob{padding-bottom:20px;}

h3.titHead02{position:relative;padding:0 15px;height:31px;line-height:31px;color:#fff;background:#79787d;text-align:left;font-size:14px;}
h3.titHead02 img{height:14px;margin-top:10px;}
h3.titHead02 .btnMainMore{top:1px;}

#main_newest{padding-bottom:10px;background:#dadada;}
#main_newest .rnHmLst01{padding-bottom:16px;background:#fff;border-bottom:1px solid #bababa;}

.boxType{padding-bottom:10px;background:#dadada;}

.titHot01{padding:0 15px;border:1px solid #505154;border-width:1px 0;background:#57585c;}
.titHot01 img{height:29px}

.newRnHotLst  *{font-family: 'Nanum Gothic';}
.newRnHotLst{background:#dadada;}
.newRnHotLst li{padding-bottom:10px}
.newRnHotLst li a{background:#fff;}
.newRnHotLst li a p.rnHotMd{position:absolute;top:auto;bottom:64px;left:15px;width:27px;background:url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_icon_recommend_160520.png) left top no-repeat;background-size:100%;color:transparent;font-size:0}
.newRnHotLst .rnHotInfo{margin-bottom:0;padding:0;background:none}
.newRnHotLst .rnHotInfo{position:relative;padding:5px 15px 13px;background-color:none;}
.newRnHotLst .rnHotInfo .rnHotPrd{font-size:14px;color:#57585c;}
.newRnHotLst .rnHotInfo .rnHotPrd .rnHotCpn{display:block;font-size:10px;color:#888;}
.newRnHotLst .rnHotInfo .rnHotPrc .rnHotPrcBf{margin-top:3px;color:#79787d;font-size:12px;text-decoration:line-through;font-family:Roboto;}
.newRnHotLst .rnHotInfo .rnHotPrc .rnHotPrcUsd{color:#e50e1b;font-size:15px;font-weight:bold;font-family:Roboto;}
.newRnHotLst .rnHotInfo .rnHotPrc .rnHotPrcKrw{margin-top:5px;color:#d82527;font-size:10px;font-family:Roboto;}
.newRnHotLst  .rnHotDiscount{position:absolute;top:auto;bottom:64px;left:15px;width:auto;height:auto;padding:0;background:none;background-size:100%;color:#e61a27;font-size:21px;font-weight:normal;text-align:center;font-family:Roboto;}
.newRnHotLst  .rnHotDiscount span{font-size:14px;}

/* 2016-04-29 BI 개편 s */
h3.titHead01{position:relative;padding:0 0 0 15px;border:1px solid #e44751;border-width:1px 0;color:#fff;background:#f94d58;text-align:left;font-size:14px;}
h3.titHead01 img{height:29px;}
.btnMainMore{display:block;position:absolute;top:7px;right:10px;font-size:11px}
.btnMainMore img{display:inline-block;width:15px;height:15px;margin-top:6px;vertical-align:top}
.rnBob{padding-bottom:20px;}

h3.titHead02{position:relative;padding:0 15px;height:31px;line-height:31px;color:#fff;background:#79787d;text-align:left;font-size:14px;}
h3.titHead02 img{height:14px;margin-top:10px;}
h3.titHead02 .btnMainMore{top:4px;}

#main_newest{padding-bottom:10px;background:#dadada;}
#main_newest .rnHmLst01{padding-bottom:16px;background:#fff;border-bottom:1px solid #bababa;}

.boxType{padding-bottom:10px;background:#dadada;}

#main .reco_viewtabs{margin-top:0;}
#main .reco_viewtabs .reco_tabs{border:none;height:auto;}
.reco_viewtabs .reco_sc{padding-bottom:10px;}

/* 2016-04-29 BI 개편 e */

/* 2016-05-20 BI 개편 s */
.newBobNavWrap{border-bottom:1px solid #bfbfbf;padding:0 15px;}
.newBobNav{position:relative;}
.newBobNav *{font-family: 'Nanum Gothic';}
.newBobNav div.slider-nav{position: relative;overflow: hidden;}
.newBobNav div.slider-nav a{display:block;float:left;width:33.333%;height:35px;line-height:35px;text-align:center;font-size:14px;}
.newBobNav div.slider-nav a:first-child{width:33.3334%;}
.newBobNav div.slider-nav a.slick-current{color:#e50e1b;font-weight:bold;}

/* slick */
.slick-slider{position: relative;display: block;-moz-box-sizing: border-box;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-track {width:1000%;overflow:hidden;}
.slick-list {position: relative;display: block !important;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track {position: relative;top: 0;left: 0;display: block;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide {display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide {float: right;}
/* .slick-slide img {display: block;} */
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: block;outline:0}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}


.slider .slick-prev, .slider .slick-next{display:block;position:absolute;top:13px;overflow:hidden;width:6px;height:10px;margin:0;background:#fff url(http://image.ssgdfs.com/images/shop/main/kr/mobile/rn_swipe_prnv.png) left top no-repeat;background-size:6px auto;z-index:1;border:none;color:transparent;outline:none;}
.slider .slick-prev{left:0}
.slider .slick-next{right:0;background-position:left -11px}

.mainEvtArea{background:#dadada;}


.evtBanList{}
.evtBanList li{margin:10px 0;border-top:1px solid #c2c2c2;border-bottom:1px solid #bababa;box-shadow: 0px 2px 3px 0px #c2c2c2;}
.evtBanList li:first-child{padding-top:0px;}
.evtBanList li a{display:block;}
.evtBanList li a img{width:100%;}

.event-box { overflow:hidden;}
.event-box .tap { overflow:hidden; border-bottom:1px solid #dbdbdb;}
.event-box .tap li { float:left; width:33.33%; height:38px; line-height:38px; text-align:center;}
.event-box .tap li a { color:#999;}
.event-box .tap li.on a { color:#555;}
.event-box .box { position:relative; margin:0px 0px; border:0px; background:none;}
.event-box .box img { width:100%; max-width:100%;}
.event-box .box .text-box { overflow:hidden; padding:10px; border-bottom:1px solid #dbdbdb; text-align:center; background:#fff;}
.event-box .box .text-box .text { font-weight:bold; font-size:15px; word-break: break-all;}
.event-box .box .text-box .date { font-size:12px; color:#9c9c9c;}
.event-box.type2 { padding:0 15px 10px 5px;}
.event-box.type2 .box { float:left; width:50%; margin:0px 0px 10px 0px;overflow:hidden;}
.event-box.type2 .box a { position:relative; display:block; /*height:100;*/ margin-left:10px;}
.event-box.type2 .box a span.itemThum{position:absolute;top:0px;left:0px;width:100%;}
.event-box.type2 .box p { overflow:hidden; height:34px; line-height:1.3;}
.event-box.type2 .text-box { overflow:hidden; position:absolute; bottom:-1px; left:0px; right:0px; padding:5px 10px; border:0px; color:#000; background:#fff;opacity:0.7;}
.event-box.type2 .text-box .text { font-weight:normal; font-size:13px;}
/* 2016-05-20 BI 개편 e */



