@charset "utf-8";

/* 인천통물 */
.icnWrap{padding:10px}
.icnTit01{overflow:hidden;margin:5px 0;padding:0 10px 6px;border-bottom:2px solid #333333;color:#000000;font-size:1rem}
.icnTit01 span{float:right;margin-top:3px;font-size:0.688rem;font-weight:normal}
.icnTit02{overflow:hidden;margin:5px 0;padding:0 10px 6px;border-bottom:2px solid #333333;color:#000000;font-size:1rem}
.icnTit02 span{float:right;margin-top:3px;font-size:0.688rem;font-weight:normal}
.icnTbWrap{position:relative}
.icnTb01{table-layout:fixed;width:100%}
.icnTb01 thead th{padding:5px;border:1px solid #dfdfdf;border-width:1px 0 1px 1px;background-color:#f2f2f2;color:#000000;font-size:0.750rem;text-align:center}
.icnTb01 tbody td{padding:5px;border-left:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;font-size:0.688rem}
.icnTb01 .first{border-left:none !important}
.icnTb01 .icnSel{text-align:center !important}
.icnSoldOut .icnPrice{color:#d82527;text-decoration:line-through}
.icnSoldOutTxt{color:#d82527}
.icnPrice span{color:#4d4d4d}
.icnOnline{position:absolute;top:0;left:20px;padding:2px 5px;background-color:#1ebecd;color:#ffffff;font-size:0.688rem}
.icnOnline.type02{left:auto;right:0}
.icnOnline.type03{display:inline-block;position:relative;left:auto;right:0;margin-top:4px;vertical-align:top}
.icnPrd{display:inline-block;padding:2px 5px;background-color:#1ebecd;color:#ffffff;font-size:0.688rem;vertical-align:top}
.icnInfo{line-height:1.5;margin:10px;padding:2px 5px;background-color:#ec5959;color:#ffffff}
.btnIcnChk{display:inline-block;height:38px;line-height:38px;padding:0 18px;color:#ffffff;font-size:15px;font-weight:bold;text-decoration:none;vertical-align:middle;
border:1px solid #222222;
background: linear-gradient(to bottom, #656565 0%, #474747 2%,#1D1D1D 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(2%,#474747), color-stop(100%,#1D1D1D));
background: -webkit-linear-gradient(top, #656565 0%,#474747 2%, #1D1D1D 100%);
}
.icnStrTxt{display:block;position:relative;line-height:1.5;margin:5px 0 0 5px;padding-left:18px;color:#d02d2d;font-weight:bold}
.icnStrTxt span{display:inline-block;position:absolute;top:0;left:0;width:15px;height:15px;background-color:#d02d2d;color:#ffffff;text-align:center;vertical-align:top;
border-radius:50%;
-webkit-border-radius:50%;
}

.icnStrTxt02{position:relative;line-height:1.5;margin:10px 0 0;padding-left:18px;color:#d02d2d}
.icnStrTxt02:after{content:'!';display:inline-block;position:absolute;top:0;left:0;width:15px;height:15px;background-color:#d02d2d;color:#ffffff;text-align:center;vertical-align:top;
border-radius:50%;
-webkit-border-radius:50%;
}
.icnStrTxt03{display:block;margin:10px 0 0;color:#d82527;text-align:center}


.icnBtnWrap{position:relative;margin:20px 0 30px}
.icnBtnWrap.al{text-align:center !important}
.icnBtnType01{display:inline-block;height:35px;line-height:35px;padding:0 15px;border:none;background-color:#4d4d4d;color:#ffffff;font-size:12px;text-align:center;vertical-align:top}
.icnLst{padding:10px;background-color:#f2f2f2}
.icnLst > li{margin-top:2px;padding-left:8px;text-indent:-8px}
.icnLst > li:first-child{margin-top:0}


.prdRdo{position:absolute;top:50%;left:0;width:15%;margin-top:-10px;text-align:center}
.prdRdo input{position:absolute}
.prdRdo label{position:relative;width:20px;height:20px;margin:0 !important;padding:0 !important;border:1px solid #dfdfdf;background:none !important;
border-radius:50%;
-webkit-border-radius:50%;
   -moz-border-radius:50%;
	-ms-border-radius:50%;
	 -o-border-radius:50%;
}
.prdRdo label:before{content:'';display:block;position:absolute;top:2px;left:2px;right:2px;bottom:2px;background-color:#808080;
border-radius:50%;
-webkit-border-radius:50%;
   -moz-border-radius:50%;
	-ms-border-radius:50%;
	 -o-border-radius:50%;
}
.prdRdo input:checked + label:before{background-color:#da2028}
.prdLst > li{overflow:hidden;position:relative;margin-top:5px;padding:10px 0 10px 5%;border-top:1px solid #dfdfdf}
.prdLst2 > li{overflow:hidden;position:relative;margin-top:5px;padding:10px 0 10px 20%;border-top:1px solid #dfdfdf}
.prdLst > li:first-child{margin-top:0;border-top:none}
.prdLst2 > li:first-child{margin-top:0;border-top:none}
.rdoType .last{padding:0 !important}
.prdDepth2{float:left;width:65%;padding:0 10px}
.prdBar{position:absolute;top:0;left:15%;bottom:0;border-right:1px solid #dfdfdf}
.prdBar2{position:absolute;top:0;left:45%;bottom:0;border-right:1px solid #dfdfdf}
